<nav role="navigation" class="nav-menu w-nav-menu">
  <a href="/" class="nav-menu link w-nav-link">Home</a>
  <a href="/resources" class="nav-menu link w-nav-link">Resources</a>
  <a href="/aboutus" class="nav-menu link w-nav-link">About Us</a>
</nav>
<h1 style="color: yellow;">About Us</h1>

<h2 style="color: yellow;">Who is behind Dark Patterns Shop?</h2>
<h3>Dark Patterns Shop was created and maintained by Kevin Chen, a psychology major from Davidson College.</h3><br>

<h2 style="color: yellow;">What's the story behind Dark Patterns Shop?</h2>
<h3>
  Dark Patterns Shop was created as a solo capstone project for Adjacent Academies.
  It began from an idealistic vision of humility as the antidote to misinformation and political partisanship, often fueled by cognitive biases.
  Dark Patterns Shop was the practical first step towards such idealistic vision.
  It is the beginning to combat cognitive biases by bringing awareness to unethical practices in design.
</h3><br>

<h2 style="color: yellow;">What are Dark Patterns?</h2>
<h3>
  Dark Patterns was coined in 2010 by the UX (User Experience) Specialist Harry Brignull.
  It is the all-encompassing term for UI/UX design features that deceive users into something they did not intend to do.
</h3><br>

<h2 style="color: yellow;">How does Dark Patterns Shop work?</h2>
<h3>
  Dark Patterns Shop is a webapp and a dark pattern simulation that allow you to dynamically interact as you learn more about dark patterns.
  If you are a UI/UX designer, this site is for you to see and potentially correct for dark patterns in your current or future designs.
  If you are a consumer, this site is for you to be informed of the deceptive features in design that exploit your human cognition for nefarious purposes.
</h3><br>
