<nav role="navigation" class="nav-menu w-nav-menu">
  <a href="/" class="nav-menu link w-nav-link">Home</a>
  <a href="/store" class="nav-menu link w-nav-link w--current">Store</a>
  <a href="/resources" class="nav-menu link w-nav-link">Resources</a>
  <a href="/aboutus" class="nav-menu link w-nav-link">About Us</a>
</nav>
<h1 style="color: yellow;">Resources</h1>
<h3>Dark Patterns Offical Website:
  <a href= https://darkpatterns.org/ style="color: yellow;">https://darkpatterns.org/</a>
</h3>
